<% if signed_in? %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/post_form' %>
    </section>
  </aside>
    <div class="span8" id="homefeed">
      <h3>Feed</h3>
      <%= render 'shared/feed' %>
    </div>
</div>

<% else %>
<div class="center hero-unit hero-fix">
  <h1><span class="logo">Survival Hub</span></h1>

  <h2>
    Discuss and conspire with your friends, share locations and thoughts with others.
  </h2>
  
  <%= link_to "SIGN UP !", signup_path, class: "btn btn-large btn-custom"%><br>
  
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
