<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if !current_user.friend_with?(@user) && !current_user.pending_invited?(@user) && @user != @current_user %>
        <p> <%= link_to "Add as friend", friendship_path(@user.id), 
                                        method: :post,
                                        data: {confirm: "You sure?" } %>
        </p>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
    </div>
</div>