<li id=pending_<%= friend.id %>>
  <%= gravatar_for friend, size: 26 %>
  <%= link_to friend.name, friend %>
  | <%= link_to "Accept", friendship_path(id: friend.id, foo: "approve"),
                                method: :put,
                                class: "accept",
                                remote: true %>
  | <%= link_to "Decline", friendship_path(id: friend.id, foo: "decline"),
                                method: :put,
                                class: "decline",
                                remote: true %>
</li>